nav.navbar.navbar-default.navbar-static-top.nav-height

    if typeof user !== 'undefined'
        .nav-component-wrapper
            .navbar-header
                button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    .col-xs-12
                        span.hamburger-text Menu
                div.navbar-brand(href='/')
                    img(src=(branding && branding.logoPath) || '/images/logos/logo-landscape.png', class="nav-logo", alt=(branding && branding.businessAppName) ? branding.businessAppName + " Logo" : "Logo")
                    p.brand-text #{(branding && branding.businessAppName) || 'RedRock CodeCamp'}
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right.hamburger-dropdown
                    li
                        a(href='/') All Lessons
                    li
                        a(href='/settings')
                            span.fa.fa-user-o
                            span #{user.name}'s Profile

    else
        .nav-component-wrapper
            .navbar-header        
                div.navbar-brand(href='/')
                    img(src=(branding && branding.logoPath) || '/images/logos/logo-landscape.png', class="nav-logo", alt=(branding && branding.businessAppName) ? branding.businessAppName + " Logo" : "Logo")
                    p.brand-text #{(branding && branding.businessAppName) || 'RedRock CodeCamp'}