extends ../layout
block content
    include ../partials/ajaxFlashMessage
    .row.text-center
        h2 Update account information:
            .button-spacer
        .col-sm-6.col-sm-offset-3
            form(method='POST', action='/rrcca2019/update-account')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    input.input-lg.form-control.success-clear-value(type='email', name='email', id='email', placeholder='Account Email', autofocus=true, required)
                .form-group
                    input.input-lg.form-control.success-clear-value(type='email', name='newEmail', id='new-email', placeholder='New Email')
                .form-group
                    input.input-lg.form-control.success-clear-value(type='text', name='username', id='username', placeholder='New Username')
                .form-group
                    input.input-lg.form-control.success-clear-value(type='text', name='name', id='name', placeholder='New Name')
                .form-group
                    input.input-lg.form-control.success-clear-value(type='text', name='location', id='location', placeholder='New Location')
                .form-group
                    input.input-lg.form-control.success-clear-value(type='password', name='password', id='password', placeholder='New Password')
                .form-group
                    input.input-lg.form-control.success-clear-value(type='password', name='confirmPassword', id='confirmpassword', placeholder='Confirm New Password')
                .form-group
                    <h3>New Certifications to Record?</h3>
                    <label for="isRespWebDesignCert"><input type="checkbox" name="isRespWebDesignCert" value="isRespWebDesignCert">Responsive Web Design</label>
                    <label for="isJsAlgoDataStructCert"><input type="checkbox" name="isJsAlgoDataStructCert" value="isJsAlgoDataStructCert">JS Algorithms and Data Structures</label>
                    <label for="isFrontEndCert"><input type="checkbox" name="isFrontEndCert" value="isFrontEndCert">JavaScript Front-End Web Development</label>
                    <label for="isFrontEndLibsCert"><input type="checkbox" name="isFrontEndLibsCert" value="isFrontEndLibsCert">JavaScript Front-End Libraries</label>
                    <label for="isDataVisCert"><input type="checkbox" name="isDataVisCert" value="isDataVisCert">JavaScript Front-End Data Visualization</label>
                    <label for="isApisMicroservicesCert"><input type="checkbox" name="isApisMicroservicesCert" value="isApisMicroservicesCert">JavaScript APIs and Microservices</label>
                    <label for="isInfosecQaCert"><input type="checkbox" name="isInfosecQaCert" value="isInfosecQaCert">Information Security and QA</label>
                    <label for="isBackEndCert"><input type="checkbox" name="isBackEndCert" value="isBackEndCert">JavaScript Back-End Web Development</label>
                    <label for="isFullStackCert"><input type="checkbox" name="isFullStackCert" value="isFullStackCert">JavaScript Full-Stack Web Development</label>
                .button-spacer
                button#magic-btn.btn.btn-primary.btn-lg.btn-block(type='submit')
                    span Update Account
                .button-spacer
                .button-spacer
                .button-spacer
                .button-spacer
                .button-spacer
                .button-spacer
                a.btn.btn-primary.btn-lg.btn-block(href='/rrcca2019')
                    span Admin Home