meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='/cdn/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
include styles

.certificate-wrapper.container
	.row
		header
			.logo
				img(class='img-responsive', src='/images/logos/logo-landscape.svg', alt="RedRockCodeCamp's Logo")
		
			.logo-banner
				strong RedRock CodeCamp
		
			.issue-date Issued&nbsp;
				strong #{date}

		section.information
			.information-container
				h3 This certifies that
				h1
					strong= name
				h3 has successfully completed RedRock CodeCamp's
				h1
					strong Back End Development Projects
				h4 Representing approximately 400 hours of coursework in Information Security, Quality Assurance, Node, and Express
			
		footer
			.signatures
				p.sigLine
				
				p
					strong= dirName
				p Program Director, RedRock CodeCamp
			//- .row
			//- 	p.verify Verify this certificate at: https://freecodecamp.org/#{username}/back-end-certification
