meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='/cdn/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
include styles

.certificate-wrapper.container
	.row
		header
			.logo
				img(class='img-responsive', src='/images/logos/logo-landscape.svg', alt="freeCodeCamp's Logo")
		
			.logo-banner
				strong RedRock CodeCamp
		
			.issue-date Issued&nbsp;
				strong #{date}

		section.information
			.information-container
				h3 This certifies that
				h1
					strong= name
				h3 has successfully completed RedRock CodeCamp's
				h1
					strong Responsive Web Design Projects
				h4 1 of 9 RedRock CodeCamp certificates, representing approximately 300 hours of coursework
			
		footer
			.signatures
				p.sigLine
									
				p
					strong Program Director Name
				p Program Director, RedRock CodeCamp
			//- .row
			//- 	p.verify Verify this certificate at: https://freecodecamp.org/#{username}/responsive-web-design-certification
