@font-face {
    font-family: 'Bungee Spice'; font-style: normal; font-weight: 200; font-display: swap;
    src: url(../fonts/BungeeSpice-Regular.woff2) format('woff2'),
         url(../fonts/BungeeSpice-Regular.ttf) format('truetype');
}
