.key-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    height: 80px;
}

.key-pad-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 40px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.display {
    display: flex;
    border: 1px solid blue;
    border-radius: 4px;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.topRow {
    display: flex;
    justify-content: space-between;
}